body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--colorFundo);


}

:root {
    --colorVerdeEscuro: #538d7f;
    --colorVerdeClaro: #b8d6ce;
    --colorVerdeMuitoClaro: #dfece9;
    --colorFundo: rgb(255, 255, 255);
}

.mainTopHome {
    max-width: none;
    margin-top: 55px;
}

.mainTopHomeNav {

    height: 500px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.rowTopHomeNav {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTopHomeNavCol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.mainTopHomeNav .col-4 {

    height: 150px;
    max-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;

    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    transition: 0.3s;
}

.colTopHomeNav {
    color: var(--colorVerdeEscuro);
    background-color: var(--colorVerdeMuitoClaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-shadow: 1px 1px 5px #01241a41;
}

.colTopHomeNav img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.colTopHomeNav h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1vw;

}

.colTopHomeNav:hover {
    background-color: var(--colorVerdeClaro);
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.3s;
    box-shadow: 2px 2px 15px #01241a41;
}

.cor {
    background-color: var(--colorVerdeEscuro);
    color: var(--colorVerdeMuitoClaro);
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.3s;
    box-shadow: 2px 2px 15px #01241a41;
}

.cor:hover {
    background-color: var(--colorVerdeEscuro);
    color: var(--colorVerdeMuitoClaro);
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.3s;

}

/* -------------------------------------- info top home ------------------------------------------------- */
.mainTopHomeInfo {
    display: flex;
    width: 50%;
    height: 500px;
    padding: 8px;


}

.imgInfoTop {
    background-color: var(--colorVerdeClaro);
    height: 100%;
    width: 100%;
    border-radius: 7px;
}

.rowImgConteudo {
    background-image: url(../images/homeImages/infoEternalMed.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    color: var(--colorVerdeEscuro);
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.imgConteudo {
    margin: 0;
    padding: 0;

}

.rowImgConteudo h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0;
    font-size: 3vw;
    font-weight: 100;
    backdrop-filter: blur(1px);

}

.rowTextConteudo {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 20px;

}

.rowTextConteudo p {
    margin: 0;
    padding: 0;
    text-align: justify;
}



.rowButtonConteudo button {
    background-color: var(--colorVerdeEscuro);
    color: var(--colorFundo);
    border: none;
    border-radius: 7px;
    width: 300px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.rowButtonConteudo button:hover {
    background-color: var(--colorVerdeMuitoClaro);
    color: var(--colorFundo);
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.3s;
}

.colButtonConteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.boxShadow {
    box-shadow: 1px 1px 5px #01241a41;
}

/* -------------------------------------- info top home class add ------------------------------------------------- */
.consultas {
    background-image: url(/images/homeImages/infoConsultas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.consultas h1 {
    font-weight: 100;
    color: var(--colorFundo);
    backdrop-filter: brightness(80%) blur(2px);
}

.agendamento {
    background-image: url(/images/homeImages/infoAgendamentos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.agendamento h1 {
    font-weight: 100;
    color: var(--colorFundo);
    backdrop-filter: brightness(80%) blur(2px);
}

.quiropraxia {
    background-image: url(/images/homeImages/infoQuiropraxia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quiropraxia h1 {
    font-weight: 100;
    color: var(--colorFundo);
    backdrop-filter: brightness(80%) blur(2px);
}

.fisioterapia {
    background-image: url(/images/homeImages/infoFisioterapia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fisioterapia h1 {
    font-weight: 100;
    color: var(--colorFundo);
    backdrop-filter: brightness(80%) blur(2px);
}

.psicologia {
    background-image: url(/images/homeImages/infoPsicologia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.psicologia h1 {
    font-weight: 100;
    color: var(--colorFundo);
    backdrop-filter: brightness(80%) blur(2px);
}

.nutricionista {
    background-image: url(/images/homeImages/infoNutricionista.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nutricionista h1 {
    font-weight: 100;
    color: var(--colorFundo);
    backdrop-filter: brightness(80%) blur(2px);
}

.seguro {
    background-image: url(/images/homeImages/infoSeguro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.seguro h1 {
    font-weight: 100;
    color: var(--colorFundo);
    backdrop-filter: brightness(80%) blur(2px);
}

.funeraria {
    background-image: url(/images/homeImages/infoFuneraria.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.funeraria h1 {
    font-weight: 100;
    color: var(--colorFundo);
    backdrop-filter: brightness(80%) blur(2px);
}

.farmacia {
    background-image: url(/images/homeImages/infoFarmacia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.farmacia h1 {
    font-weight: 100;
    color: var(--colorFundo);
    backdrop-filter: brightness(80%) blur(2px);
}

/* -------------------------------------- novidade home ------------------------------------------------- */
.navi {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colNovi {
    font-size: 40px;
    font-weight: bold;
    color: var(--colorVerdeEscuro);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card1 {
    border: none;
    border-radius: 15px;
    transition: 0.3s;

}

.card2 {
    border: none;
    border-radius: 15px;
    transition: 0.3s;
}

/* -------------------------------------- responsividade top home */

@media (max-width: 1400px) {

    .mainTopHomeNav .col-4 {
        max-width: 150px;
    }
}

@media (max-width: 1200px) {



    .mainTopHomeNav .col-4 {
        max-width: 130px;
    }
}

@media (max-width: 991px) {


    .rowTopHomeNav {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .mainTopHomeNav .col-4 {
        max-width: 90px;
    }
}

@media (max-width: 767px) {
    .mainTopHomeInfo {
        width: 100%;

    }

    .mainTopHomeNavCol {
        margin: 0;
        padding: 0;
    }

    .mainTopHomeNav {
        max-width: none;
        width: 100%;
        margin: 0;
        margin-top: 15px;
    }

    .mainTopHomeNav .col-4 {
        max-width: 150px;
    }
}

@media (max-width: 533px) {

    .mainTopHomeNav .col-4 {
        max-width: 120px;
    }
}

@media (max-width: 443px) {
    .mainTopHomeNav {
        height: auto;
    }

    .mainTopHomeNav .col-4 {

        max-width: 100px;
    }
}


/* -------------------------------------- menu lateral */

.mover {
    /*animação do mover barra lateral*/
    transform: translatex(-300px);
    /*mostra a div do menu lateral*/
    transition: .5s;
    /*animação em .5 segundos*/
}

.virarmenu {
    /*animação do menu*/
    filter: brightness(100);
    /*troca a cor do menu para branco*/
    transform: rotate(90deg);
    /*gira o botão menu*/
    transition: .1s;
    /*transição de .1 segundos*/
}

.mudaCperfil {
    filter: brightness(100);
    /*troca a cor do perfil para branco*/
    transition: .1s;
    /*transição de .1 segundo*/
}

.borrar {
    position: fixed;
    /*deixa a imagem fixa na tela*/
    height: 100%;
    /* altura 100% */
    width: 100%;
    /* largura 100% */
    background: rgba(58, 58, 58, 0.452);
    /*escurece a tela*/
    z-index: 2;
    /* camada do item na tela */
    backdrop-filter: blur(2px);
    /*faz um borrão na div*/
    transition: .5s;
    /*transição de .5 segundos*/
}

.destravarmouse {
    pointer-events: none;
    /* deixa o usuario clicar através da div*/
}

.opcaoMenu {
    color: #ffffff;
    /*cor da letra*/
    height: 50px;
    /*altura do bloco do menu*/
    display: flex;
    /*deixa o display flexivel*/
    align-items: center;
    /*centraliza o texto da div*/
    padding-left: 10px;
    /*espaçamento no lado esquerdo da div*/
    width: 100%;
    /*largura da opção do menu*/
    transition: ease .5s;
}

.opcaoMenu:hover {
    transform: scale(1.02);
    /*tranforma o tamanho do item*/
    transition: ease 0s;
    /*transição em 0 segundos*/
    background-color: #b8d6ce50;
    /*coloca uma cor no fundo do texto*/
}

.opcaoMenuSelecionado {
    color: #538d7f;
    /* muda cor do texto*/
    margin-top: 5px;
    /*espaçamento do topo*/
    background-color: #b8d6ce;
    /*coloca uma cor no fundo do texto*/
    height: 50px;
    /*altura do bloco*/
    width: 100%;
    /*largura do bloco*/
    display: flex;
    /*deixa o display flexivel*/
    align-items: center;
    /*centraliza o texto da div*/
    padding-left: 10px;
    /*espaçamento no lado esquerdo da div*/
}

/* ------------------------------------------- primeiro banner do index */

.textoBanner {
    max-width: 520px;
    min-width: 200px;
    color: #05805f;
    padding-left: 10px;
}

.textoBanner span {
    color: #90c6b1;
}

.botoesAp {
    margin-top: 3vw;
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.btnAc {
    font-size: 30px;
    color: white;
    background: #05805f;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    transition: ease .1s;
}

.btnAc:hover {
    transform: scale(1.1);
    background: #599385;
}


/* ---------------------------- balões de conversa do index */

.balaoUmIndex {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    border: .3vw solid #05805f;
    border-radius: 2vw;
    border-top-right-radius: 0px;
    width: 35vw;
    font-size: 3.5vw;
    color: white;
    background: #05805f;
}



.balaoDoisIndex {
    position: absolute;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    border: .3vw solid #05805f;
    border-radius: 2vw;
    border-top-left-radius: 0px;
    width: 80vw;
    font-size: 3.5vw;
    color: white;
    background: #05805f;
}


/* ---------------------------- segundo banner do index */

.textoBanner2 {
    display: flex;
    justify-content: center;
    color: #05805f;
    font-size: 56px;
    width: 27vw;
}

.textoBanner2 span {
    color: #90c6b1;
}



.personagemMic {
    display: flex;
    max-width: 1200px;
    min-width: 230px;
    right: 0;
    pointer-events: none;
}


.btnContato {
    font-size: 1.8vw;
    color: white;
    background: #05805f;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    transition: ease .1s;
    width: 17vw;
}

a {
    color: white;
    text-decoration: none;
    /*tira decoração do texto (utilizado quando é usado a tag 'A' )*/
}

/* ----------------------------------- mudança de tamanho de fonte conforme o tamanho da tela */
@media (max-width:2920px) {
    .textoBanner {
        font-size: 76px;
    }

    .textoBanner2 {
        font-size: 66px;
    }

}

@media (max-width:1345px) {
    .botoesAp {
        width: 350px;
    }
}


@media (max-width:1227px) {
    .textoBanner {
        font-size: 56px;
    }

    .textoBanner2 {
        font-size: 56px;
    }

    .btnAc {
        font-size: 30px;
    }

}

@media (max-width:880px) {
    .textoBanner {
        font-size: 46px;
    }

    .textoBanner2 {
        font-size: 46px;
    }

    .btnAc {
        font-size: 25px;
    }

}

@media (max-width:730px) {
    .textoBanner {
        font-size: 36px;
    }

    .textoBanner2 {
        font-size: 36px;
    }

    .btnAc {
        font-size: 20px;
    }

    .botoesAp {
        width: 280px;
    }
}

@media (max-width:630px) {
    .textoBanner {
        font-size: 35px;
    }

    .textoBanner2 {
        font-size: 35px;
    }

    .btnAc {
        font-size: 19px;
    }

}

@media (max-width:545px) {
    .textoBanner {
        font-size: 25px;
    }

    .textoBanner2 {
        font-size: 25px;
        margin-left: 3vw;
    }

    .btnAc {
        font-size: 12px;
    }

    .btnContato {
        font-size: 12px;
        width: 29vw;

    }

    .botoesAp {
        width: 200px;
    }

}

/* ------------------------------------------- página do cadastro */


.imgDoCadastro {
    background: url(../images/imagemLogin/EternalMed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1090px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #05805f solid 2vw;
}

.formCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #538d7fc2;
    width: 580px;
    height: 750px;
    color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 20px #01241a;
    backdrop-filter: blur(4px);
}

.textoEmCimaInp {
    margin-top: 1vw;
    width: 420px;
}

.textoEmCimaInp input {
    width: 420px;
    border: none;
    border-radius: 8px;
    padding: .4vw;
}

.textoEmCimaInp2 {
    margin-top: 1vw;
    width: 420px;
    display: flex;
    justify-content: space-between;
}

.textoEmCimaInp2 input {
    width: 200px;
    border: none;
    border-radius: 8px;
    padding: .4vw;
}

.botaoCadastrar {
    margin-top: 40px;
    border: none;
    background-color: #005e4588;
    backdrop-filter: blur(4px);
    box-shadow: 1px 1px 10px #00000066;
    color: #ffffff;
    width: 240px;
    height: 50px;
    border-radius: 30px;
    transition: 1s ease;
}

.botaoCadastrar:hover {
    color: #04f5b4;
    background-color: #013023fa;
    transition: 1s ease;
}

#validacaocpf {
    font-size: 13px;
}

#validacaosenha {
    font-size: 13px;
    position: absolute;
}

#validarNome {
    font-size: 13px;
}

@media (max-width:800px) {
    .imgDoCadastro {
        height: 935px;
    }

    .formCadastro {
        width: 620px;
        height: 720px;
    }

    .textoEmCimaInp {
        margin-top: 10px;
        width: 470px;
    }

    .textoEmCimaInp input {
        padding: 10px;
        width: 470px;
    }

    .textoEmCimaInp2 {
        margin-top: 10px;
        width: 470px;
    }

    .textoEmCimaInp2 input {
        padding: 10px;
        width: 220px;
    }

}


@media (max-width:530px) {
    .imgDoCadastro {
        height: 935px;
    }

    .formCadastro {
        width: 420px;
        height: 720px;
    }

    .textoEmCimaInp {
        margin-top: 10px;
        width: 370px;
    }

    .textoEmCimaInp input {
        padding: 10px;
        width: 370px;
    }

    .textoEmCimaInp2 {
        margin-top: 10px;
        width: 370px;
    }

    .textoEmCimaInp2 input {
        padding: 10px;
        width: 175px;
    }

    #validacaocpf {
        font-size: 12px;
    }
}

@media (max-width:400px) {
    .imgDoCadastro {
        height: 775px;
    }

    .formCadastro {
        width: 350px;
        height: 620px;
    }

    .textoEmCimaInp {
        margin-top: 10px;
        width: 270px;
    }

    .textoEmCimaInp input {
        padding: 5px;
        width: 270px;
    }

    .textoEmCimaInp2 {
        margin-top: 10px;
        width: 270px;
    }

    .textoEmCimaInp2 input {
        padding: 5px;
        width: 100px;
    }


    h5 {
        font-size: 15px;
    }

    .botaoCadastrar {
        bottom: 30px;
    }
}

/* ------------------------------------------- página do cadastro */


.imgDoLogin {
    background: url(../images/imagemLogin/EternalMed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1090px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #05805f solid 2vw;
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #538d7fc2;
    width: 580px;
    height: 450px;
    color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 20px #01241a;
    backdrop-filter: blur(4px);
}

.textoEmCimaInp {
    margin-top: 1vw;
    width: 420px;
}

.textoEmCimaInp input {
    width: 420px;
    border: none;
    border-radius: 8px;
    padding: .4vw;
}

.textoEmCimaInp2 {
    margin-top: 1vw;
    width: 420px;
    display: flex;
    justify-content: space-between;
}

.textoEmCimaInp2 input {
    width: 200px;
    border: none;
    border-radius: 8px;
    padding: .4vw;
}

.botaoLogin {
    margin-top: 40px;
    border: none;
    background-color: #005e4588;
    backdrop-filter: blur(4px);
    box-shadow: 1px 1px 10px #00000066;
    color: #ffffff;
    width: 240px;
    height: 50px;
    border-radius: 30px;
    transition: 1s ease;
}

.botaoLogin:hover {
    color: #04f5b4;
    background-color: #013023fa;
    transition: 1s ease;
}

#validacaocpf {
    font-size: 13px;
}

#validacaosenha {
    font-size: 13px;
    position: absolute;
}

#validarNome {
    font-size: 13px;
}

@media (max-width:800px) {
    .imgDoLogin {
        height: 935px;
    }

    .formLogin {
        width: 520px;
        height: 420px;
    }

    .textoEmCimaInp {
        margin-top: 10px;
        width: 470px;
    }

    .textoEmCimaInp input {
        padding: 10px;
        width: 470px;
    }

    .textoEmCimaInp2 {
        margin-top: 10px;
        width: 470px;
    }

    .textoEmCimaInp2 input {
        padding: 10px;
        width: 220px;
    }

}


@media (max-width:530px) {
    .imgDoLogin {
        height: 935px;
    }

    .formLogin {
        width: 420px;
        height: 420px;
    }

    .textoEmCimaInp {
        margin-top: 10px;
        width: 370px;
    }

    .textoEmCimaInp input {
        padding: 10px;
        width: 370px;
    }

    .textoEmCimaInp2 {
        margin-top: 10px;
        width: 370px;
    }

    .textoEmCimaInp2 input {
        padding: 10px;
        width: 175px;
    }

    #validacaocpf {
        font-size: 12px;
    }
}

@media (max-width:400px) {
    .imgDoLogin {
        height: 775px;
    }

    .formLogin {
        width: 350px;
        height: 350px;
    }

    .textoEmCimaInp {
        margin-top: 10px;
        width: 270px;
    }

    .textoEmCimaInp input {
        padding: 5px;
        width: 270px;
    }

    .textoEmCimaInp2 {
        margin-top: 10px;
        width: 270px;
    }

    .textoEmCimaInp2 input {
        padding: 5px;
        width: 100px;
    }


    h5 {
        font-size: 15px;
    }

    .botaoLogin {
        bottom: 30px;
    }
}

/*--------Consulta Medico-------------*/

#bodyConsultaMed{
    background: #065f46;
}

.containerDoFormMed {
    background: var(--colorVerdeEscuro);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}
.containerDoFormMed img {
    position: absolute;
    width: 35vw;
    left: 10px;
    bottom: 0px;
}

.form-consulta {
    z-index: 2;
    background: linear-gradient(120deg, #538d7f, #06553e 99%);
    box-shadow: 1px 1px 10px #000000ab;
    border: 3px solid #04f5b4;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-consulta h2 {
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 20px #01241a;
}

.form-cadastro h2 {
    text-align: center;
    margin-bottom: 10px;
}

label {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 15px;
    outline: none;
}

.linha {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.coluna {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.botoesMed {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #06553e;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    backdrop-filter: blur(2px);
    box-shadow: 1px 1px 10px #01241a;
}


button:hover {
    background-color: #01241a;
    color: #04f5b4;
    transition: 1s;
}

textarea {
    min-height: 80px;
    resize: vertical;
}

@media(max-width:900px) {
    .containerDoFormMed img {
        display: none;
        position: absolute;
        left: 10px;
        bottom: 0px;
    }
}

/* ------------------------------------------- medicamento */


.prescricaoMed{
    margin-top: 100px;
    z-index: 2;
    background: linear-gradient(120deg, #133a31, #06553e 99%);
    box-shadow: 1px 1px 10px #000000ab;
    border: 3px solid #04f5b4;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


/* tela consulta do paciente */

.moverAvisoConsulta{
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avisoConsulta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.avisoConsulta h1{
    font-size: 25px;
    color: #05805fa8;
    border-bottom: 2px solid #05805fa8;
}

#infoConsulta{
    display: none;
}

/* ------------------------------------------- footer */
.footer {
    display: flex;
}

.img {

    justify-self: center;
}

@media (max-width:1050px) {
    .navFooter {
        flex-wrap: nowrap;

    }
}

@media (max-width:767px) {
    .footer {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .arroba {
        max-width: 350px;
        padding-bottom: 20px;
    }

    .navFooter {
        max-width: 350px;
    }


}